[Unit]
Description=i-doit Delivery Note Import

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=notify
WorkingDirectory=/usr/local/bin/doctoidoit
ExecStart=/usr/local/bin/doctoidoit/DocToIdoit
User=idoit-import
Group=idoit-import
Restart=on-failure
RestartSec=5s


[Install]
WantedBy=multi-user.target